@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/scss/bootstrap";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Workaround for https://github.com/angular/material2/issues/4580.
mat-form-field .mat-form-field {
  &-underline {
    position: static;
    bottom: auto;
  }
  &-subscript-wrapper {
    position: static;
  }
}

app-errors {
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    padding-left: 1.3em;
  }
  li:before {
    content: "clear"; /* Material Icon Name */
    font-family: "Material Icons";
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
  }
}
