<div class="container pt-3" *ngIf="inspection">
  <form #inspectionForm="ngForm" (submit)="save()" class="row">
    <mat-form-field class="col-sm-6 col-md-4 col-lg-3">
      <mat-label>Inspector Id</mat-label>
      <input matInput
             name="inspectorId"
             type="number"
             [(ngModel)]="inspection.inspectorId"
             #inspectorId="ngModel"
             required>
      <mat-error>
        <app-errors [field]="inspectorId"></app-errors>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-sm-6 col-md-4 col-lg-3">
      <mat-label>Inspector Name</mat-label>
      <input matInput
             name="inspectorName"
             type="text"
             [(ngModel)]="inspection.inspectorName"
             #inspectorName="ngModel"
             required
             minlength="5"
             maxlength="30">
      <mat-error>
        <app-errors [field]="inspectorName"></app-errors>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-sm-6 col-md-4 col-lg-3">
      <mat-label>Permit Number</mat-label>
      <input matInput
             name="permitNumber"
             type="text"
             [(ngModel)]="inspection.permitNumber"
             #permitNumber="ngModel"
             required
             pattern="[0-9-]+">
      <mat-error>
        <app-errors [field]="permitNumber"
                    patternErrorMessage="This field only accepts numbers and dashes"></app-errors>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-sm-6 col-md-4 col-lg-3">
      <mat-label>Inspection Date</mat-label>
      <input matInput
             [matDatepicker]="inspectionDatePicker"
             name="inspectionDate"
             [ngModel]="inspection.inspectionDate | fireTimestampDate"
             (ngModelChange)="changeDate($event)"
             #inspectionDate="ngModel"
             required>
      <mat-datepicker-toggle matSuffix [for]="inspectionDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #inspectionDatePicker></mat-datepicker>
      <mat-error>
        <app-errors [field]="inspectionDate"></app-errors>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-sm-6 col-md-4 col-lg-3">
      <mat-label>Owner</mat-label>
      <input matInput
             name="owner"
             type="text"
             [(ngModel)]="inspection.owner"
             #owner="ngModel"
             minlength="5"
             maxlength="30"
             pattern="[A-Za-z, ]+"
             required>
      <mat-error>
        <app-errors [field]="owner"
                    patternErrorMessage="This field only accepts letters, commas and spaces"></app-errors>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-sm-6 col-md-4 col-lg-3">
      <mat-label for="address">Address</mat-label>
      <input matInput
             name="address"
             type="text"
             [(ngModel)]="inspection.address"
             #address="ngModel"
             required>
      <mat-error>
        <app-errors [field]="address"></app-errors>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-sm-6 col-md-4 col-lg-3">
      <mat-label>Zip Code</mat-label>
      <input matInput
             name="zipCode"
             type="text"
             [(ngModel)]="inspection.zipCode"
             #zipCode="ngModel"
             required>
      <mat-error>
        <app-errors [field]="zipCode"></app-errors>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-sm-6 col-md-4 col-lg-3">
      <mat-label>Apartment</mat-label>
      <input matInput
             name="apt"
             type="text"
             [(ngModel)]="inspection.apt">
    </mat-form-field>
    <mat-form-field class="col-sm-6 col-md-4 col-lg-3">
      <mat-label>Permit Type</mat-label>
      <input matInput
             name="permitType"
             type="text"
             [(ngModel)]="inspection.permitType"
             #permitType="ngModel"
             required>
      <mat-error>
        <app-errors [field]="permitType"></app-errors>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-sm-6 col-md-4 col-lg-3">
      <mat-label>Inspection Type</mat-label>
      <input matInput
             name="inspectionType"
             type="text"
             [(ngModel)]="inspection.inspectionType"
             #inspectionType="ngModel"
             required>
      <mat-error>
        <app-errors [field]="inspectionType"></app-errors>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-sm-6 col-md-4 col-lg-3">
      <mat-label for="inspectionResults">Inspection Results</mat-label>
      <input matInput
             name="inspectionResults"
             type="text"
             [(ngModel)]="inspection.inspectionResults"
             #inspectionResults="ngModel"
             required>
      <mat-error>
        <app-errors [field]="inspectionResults"></app-errors>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-sm-6 col-md-4 col-lg-3">
      <mat-label for="inspectionCodeDesc">Inspection Code Description</mat-label>
      <input matInput
             name="inspectionCodeDesc"
             type="text"
             [(ngModel)]="inspection.inspectionCodeDesc"
             #inspectionCodeDesc="ngModel"
             required>
      <mat-error>
        <app-errors [field]="inspectionCodeDesc"></app-errors>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-sm-6 col-md-4 col-lg-3">
      <mat-label for="locId">Location Id</mat-label>
      <input matInput
             name="locId"
             type="text"
             [(ngModel)]="inspection.locId"
             #locId="ngModel"
             required>
      <mat-error>
        <app-errors [field]="locId"></app-errors>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-sm-6 col-md-4 col-lg-3">
      <mat-label for="folioNo">Folio No.</mat-label>
      <input matInput
             name="folioNo"
             type="text"
             [(ngModel)]="inspection.folioNo"
             #folioNo="ngModel"
             required>
      <mat-error>
        <app-errors [field]="zipCode"></app-errors>
      </mat-error>
    </mat-form-field>

    <button mat-fab type="submit" style="position: fixed; right: 106px; bottom: 20px" color="primary" [disabled]="inspectionForm.invalid">
      <mat-icon>check</mat-icon>
    </button>
    <a mat-fab routerLink="../.." style="position: fixed; right: 40px; bottom: 20px" color="accent">
      <mat-icon>clear</mat-icon>
    </a>
  </form>
</div>
